@media only screen and (max-width: 900px) {
  .body-big {
    min-width: 967px;
  }

  header nav {
    display: none !important;
  }

  .header-search {
    display: none;
  }

  .header-right {
    display: none;
  }

  .bar {
    display: block;
  }

  .banner-title > pre {
    font-size: 30px;
  }

  .banner .banner-title {
    top: 27%;
  }

  .banner-button {
    padding: 10px 0;
  }
  .banner-button button {
    padding: 7px 14px;
    font-size: 15px;
    min-width: 99px;
  }
  .banner-bottom .banner-bottom-chid {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 80px;
  }

  .banner-bottom-chid h3 {
    font-size: 15px;
    display: block;
  }
  .banner-bottom-chid p {
    font-size: 8px;
    display: block;
    font-family: Inter;
  }

  .banner-bottom {
    width: 79%;
  }

  .banner-content {
    top: 87%;
    width: 55%;
    height: 12%;
  }

  .text-image {
    margin-left: 54px;
  }

  .banner-content-chid h4 {
    font-size: 10px;
  }

  .banner-content-chid p {
    font-size: 9px;
  }

  .banner-content-chid svg {
    width: 35px;
    color: white;
  }
  .banner-content-chid:nth-child {
    width: 28%;
  }

  .infor-image img {
    width: 100%;
    height: 160px;
  }

  .swiper {
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 10px;
  }
  .all-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 10px;
  }
  .image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 10px;
  }
  .Tbanner-O img {
    width: 100%;
    height: 340px;
  }
  .Tbanner-T img {
    width: 100%;
    height: 160px;
  }
  .list:hover .list-chid {
    left: 10px;
  }
  .information {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .Tab {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 30px 0;
  }

  .table {
    padding: 20px 30px;
  }

  main {
    padding: 0 15px;
  }

  .list {
    width: 89%;
  }

  .list-chid {
    margin-left: 10px;
  }

  .list-product img {
    width: 100px;
    min-width: 40%;
  }

  .list svg {
    width: 8px;
  }

  footer {
    display: block;
  }

  .footer-menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0 15px;
    /* gap: 5px; */
  }

  .menu-children {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 99999;
    background-color: #333333;
    transform: translateX(-100%) !important;
    transition: transform 0.5s ease-in-out;
    width: 50vw;
    height: 100vh;
  }

  .menu-children ul li {
    list-style: none;
    padding: 5px 10px;
  }

  .menu-children ul li a {
    text-decoration: none;
    padding: 20px 10px;
    display: block;
    position: relative;
    color: white;
  }

  .active {
    transform: translateX(0) !important;
  }
  header {
    position: relative;
  }

  .menu-right svg {
    cursor: pointer;
  }

  .menu-children ul li a::before {
    content: "";
    width: 0;
    position: absolute;
    height: 2px;
    background-color: white;
    left: 0;
    top: 100%;
    transition: 0.5s ease-in-out;
  }

  .menu-children ul li a:hover::before {
    width: 100%;
  }

  .addCart {
    font-size: 16px;
  }

  .text-image {
    width: 165px;
  }

  .swiper-wrapper {
    gap: 127px;
  }
}

@media only screen and (max-width: 768px) {
  .banner .banner-title {
    top: 20%;
    width: 29%;
  }

  .banner-title > pre {
    font-size: 32px;
  }

  .banner-button button {
    margin-left: 25px;
    font-size: 10px;
  }

  .banner-bottom .banner-bottom-chid {
    min-width: 59%;
  }

  .banner-bottom-chid h3 {
    font-size: 8px;
  }

  . .banner-bottom-chid p {
    font-size: 5px;
  }

  .banner-content {
    height: 13%;
    width: 73%;
    top: 86%;
  }

  .text-image {
    margin-left: 36px;
  }

  .all-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 10px;
  }

  .Tbanner-O img {
    height: 77%;
  }

  .Tbanner-T img {
    height: 100px;
  }

  .infor-image img {
    height: 189px;
  }

  .information {
    gap: 30px;
  }

  .Tab {
    gap: 18px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .table {
    width: 246px;
  }
}

@media only screen and (max-width: 480px) {
  header {
    padding: 15px 1px;
  }

  .banner-content {
    top: 85%;
    height: 14%;
  }

  .banner img {
    width: 100%;
  }

  .banner-title > pre {
    font-size: 21px;
  }

  .banner-button button {
    min-width: 93px;
    font-size: 9px;
    height: 27px;
  }

  .banner-bottom-chid {
    min-width: 100%;
  }

  .banner-bottom-chid h3 {
    font-size: 7px;
  }

  .banner-bottom-chid p {
    font-size: 4px;
  }

  .all-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .banner-content-chid-tt h4 {
    font-size: 7px;
  }

  .banner-content-chid-tt p {
    font-size: 6px;
  }
  .banner-content-chid-tt svg {
    font-size: 22px;
  }

  .Tab {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .Tbanner-O img {
    width: 100%;
  }

  .Tbanner-T img {
    height: 34%;
  }

  .information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .infor-image img {
    height: 105px;
  }

  .infor .infor-O h4 {
    font-size: 18px;
  }

  .table {
    width: 210px;
    height: 121px;
  }

  .table-O {
    font-size: 12px;
  }

  .footer-logo {
    padding: 10px 0;
  }

  .footer-list {
    
  }
}
